*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --cl-lightest: #ffffff;
    --cl-darkest: #0A0909;
    --cl-cream: #FDFAF4;
    --cl-light: #D3F4EF;
    --cl-primary: #81D8D0;
    --cl-mid: #00707C;
    --cl-text: #013E44;
    --cl-accent: #004148;

    --cl-main-padding: 0 4rem 0 4rem;
    --cl-maxwidth: 1400px;
    --cl-borderradius: 20px;
    --cl-cardpadding: 3.5rem;
    --cl-boxshadow: 3px 3px 10px rgb(113, 125, 125);
    --cl-infocarddata-margin: 0 4rem 0 4rem;
    --cl-menuitem-fontweight: 350;
    --cl-welcomefont: "Allison-Regular";


    --cl-font-family-1: "SourceSans3";
    
}
@font-face {
font-family: "SourceSans3";
src: local(SourceSans3), 
url(/src/assets/fonts/SourceSans3-VariableFont_wght.ttf) 
format("truetype");
}
@font-face {
font-family: "Allison-Regular";
src: local(Allison-Regular), 
url(/src/assets/fonts/Allison-Regular.ttf) 
format("truetype");
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
body {
    font-family: var(--cl-font-family-1);
}
a {
    text-decoration: none;
}
section {
    padding: var(--cl-main-padding);
}
.navbar {
    background-color: var(--cl-lightest);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--cl-main-padding);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbaritems {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.navbaritems li > *, .footeritems > * {
    margin-left: 1rem;
    color: var(--cl-accent);
    font-weight: 300;
}
.footer {
    background-color: var(--cl-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--cl-main-padding);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: var(--cl-main-padding);
    height: 50px;
}
.footeritems {
    display: flex;
    align-items: center;
}

.header { 
    height: 400px;
    padding: var(--cl-main-padding);
    display: flex;
    align-items: center;
    justify-content: center;
}
.headeritems > * {
    display: flex;
    flex-direction: column;
    text-align: center;
}
 h1{
    font-size: 4rem;
    font-weight: 200;
 }
 h2 {
    font-weight: 325;
    font-size: 1.8rem;
    color: var(--cl-text);
 }
 h3 {
    font-weight: 300;
    color: var(--cl-mid);
    font-size: 1.3rem;
 }
 h4 {
    color: var(--cl-text);
    font-size: 0.8rem;
    font-weight: 200;
 }
  h5 {
    color: var(--cl-text);
    font-size: 1.3rem;
    font-weight: 200;
 }
 p {
    font-size: 1.2rem;
 }
 .midsection {
    padding: var(--cl-main-padding);
    background-color: var(--cl-primary);
    min-height: 300px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
 }
 .info-card {
    background-color: var( --cl-lightest);
    border-radius: var(--cl-borderradius);
    width: 100%;
    max-width: var(--cl-maxwidth);
    box-shadow: var(--cl-boxshadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--cl-cardpadding);
 }
 .info-card > * {
    text-align: center;
 }
 .info-card h2 {
    margin-bottom: 1rem;
 }
.info-card-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: var(--cl-infocarddata-margin);
    
}
.menu-container {
     margin: var(--cl-infocarddata-margin);
     max-width: 900px;
     padding: 6rem;
}
.menu-container h2 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
}
.menu-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-item {
    width: 100%;
    margin: .9rem 0;
}
.menu-item > p {
    text-align: start;
    font-weight: 200;
    font-size: var();
    color: var(--cl-darkest)
}
.menu-item-heading {
    font-weight: var(--cl-menuitem-fontweight);
    font-size: 1.6rem;
    margin-bottom: .7rem;
}
.menu-item-cost {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--cl-mid)
}
.new-client-form-container {
    background-color: var(--cl-primary);
    padding: 6rem;
    display: flex;
    justify-content: center;
    margin-top: -4rem;
}

/* Home */
.hello-lash-tech {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.hello-lash-tech-items {
    max-width: var(--cl-maxwidth);
    display: flex;
    flex-direction: column;;
}
.hello-lash-tech h3 {
    text-align: center;
    margin-bottom: 6rem;
}
.welcome-text {
    margin-top: 6rem;
    font-family: var(--cl-welcomefont);
    font-size: 3.6rem;
    text-align: center;
}
.hello-lash-tech-items > img {
    max-width: 40%;
    transform: scaleX(-1);
    margin: 3rem auto 3rem auto;
}
.lash-gallery {
    padding: 0 6rem 6rem 6rem;;
}
.lash-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem
}
.lash-grid > img {
    width: 100%;
    margin: 0 auto 0 auto;
}
.lash-lift-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    margin-bottom: 3rem; 
}
.lift > img {
    max-width: 100%;
}
.lift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.lash-gallery > h2 {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.testimonial-container > * {
    text-align: center;;
}
.testimonial-container {
    margin-bottom: 4rem;;
}
.testimonial-container > p {
    font-weight: 250;
    font-size: 1.5rem;
    color: var(--cl-text);
    margin-top: 1rem;
}
.testimonial-section h2 {
    text-align: center;
    margin-bottom: 2rem;
}
.blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin: 3rem;
}
.blog-card-container > img {
    max-width: 100%;
}
.blog-card-container {
    border-radius: var(--cl-borderradius);
    box-shadow: var(--cl-boxshadow); 
}
.blog-card-container > img {
    border-radius: 20px 20px 0 0;
    
}
.text-container {
    padding: 1rem;
}
.service-explainer-container {
    margin-top: 12rem;
} 
.service-explainer {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    margin-bottom: 6rem;
    gap: 3rem;
    
}   
service-explainer > image {
    width: 100%;
}
.service-explainer-images {
    display: flex;
    flex-direction: row;
}

/* * {
    border: 1px solid red;
} */
