*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --cl-lightest: #ffffff;
    --cl-darkest: #0A0909;
    --cl-cream: #FDFAF4;
    --cl-light: #D3F4EF;
    --cl-primary: #81D8D0;
    --cl-mid: #00707C;
    --cl-text: #013E44;
    --cl-accent: #004148;

    --cl-main-padding: 0 4rem 0 4rem;

    --cl-font-family-1: "SourceSans3";
    
}
@font-face {
font-family: "SourceSans3";
src: local(SourceSans3), 
url(./src/SourceSans3-VariableFont_wght.ttf) 
format("truetype");
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
body {
    font-family: var(--cl-font-family-1);
}

a {
    text-decoration: none;
}

.navbar {
    background-color: var(--cl-lightest);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--cl-main-padding);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbaritems {
    display: flex;
    align-items: center;
}
.navbaritems>*, .footeritems>* {
    margin-left: 1rem;
    color: var(--cl-accent);
    font-weight: 300;
}
.footer {
    background-color: var(--cl-lightest);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--cl-main-padding);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: var(--cl-main-padding);
}

.header { 
    height: 400px;
    padding: var(--cl-main-padding);
    display: flex;
    align-items: center;
    justify-content: center;
}
.headeritems>* {
    display: flex;
    flex-direction: column;
    text-align: center;
}
 h1{
    font-size: 4rem;
    font-weight: 200;
 }
 h2 {

 }
 h3 {
    font-weight: 300;
    color: var(--cl-text);
 }
 .midsection {
    background-color: var(--cl-primary);
    min-height: 300px;
 }