*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
* {
    border: 1px solid red;
}  */


:root {
    --cl-lightest: #ffffff;
    --cl-darkest: #0A0909;
    --cl-cream: #FDFAF4;
    --cl-light: #D3F4EF;
    --cl-primary: #81D8D0;
    --cl-mid: #00707C;
    --cl-text: #013E44;
    --cl-accent: #004148;

    --cl-main-padding: 0 4rem 0 4rem;
    --cl-maxwidth: 1100px;
    --cl-borderradius: 20px;
    --cl-cardpadding: 3rem;
    --cl-boxshadow: 3px 3px 10px rgb(113, 125, 125);
    --cl-infocarddata-margin: 0 4rem 0 4rem;
    --cl-menuitem-fontweight: 350;
    --cl-welcomefont: "Allison-Regular";
    --cl-h2-section-heading: 2.5rem;


    --cl-font-family-1: "SourceSans3";
    
}
@font-face {
font-family: "SourceSans3";
src: local(SourceSans3), 
url(/src/assets/fonts/SourceSans3-VariableFont_wght.ttf) 
format("truetype");
}
@font-face {
font-family: "Allison-Regular";
src: local(Allison-Regular), 
url(/src/assets/fonts/Allison-Regular.ttf) 
format("truetype");
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
body {
    font-family: var(--cl-font-family-1);
}
a {
    text-decoration: none;
}
section {
    padding: var(--cl-main-padding);
}
.nav-primary {
    display: flex;
}
.logo-container {
    display: flex;
}
.navbar {
    background-color: var(--cl-lightest);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--cl-main-padding);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbaritems, .footeritems {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.navbaritems li > *, .footeritems li > * {
    margin-left: 1rem;
    color: var(--cl-accent);
    font-weight: 300;
}
.footer {
    background-color: var(--cl-light);
}
.footer nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--cl-main-padding);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: var(--cl-main-padding);
    height: 50px;
}
.header { 
    height: 400px;
    padding: var(--cl-main-padding);
    display: flex;
    align-items: center;
    justify-content: center;
}
.headeritems > * {
    display: flex;
    flex-direction: column;
    text-align: center;
}
 h1{
    font-size: 4rem;
    font-weight: 200;
 }
 h2 {
    font-weight: 325;
    font-size: 1.8rem;
    color: var(--cl-mid);
    margin-bottom: 1.5rem;
 }
 h3 {
    font-weight: 280;
    color: var(--cl-mid);
    font-size: 1.4rem;
 }
 h4 {
    color: var(--cl-text);
    font-size: 1.3rem;
    font-weight: 200;
 }
  h5 {
    color: var(--cl-darkest);
    font-size: 1.2rem;
    font-weight: 200;
 }
 p {
    font-size: 1rem;
    font-weight: 300;
 }

/* media queries for fonts */

@media screen and (max-width: 935px ) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4 {
        font-size: 1rem;

    }
    
}


 .midsection {
    background-color: var(--cl-primary);
    min-height: 300px;
    display: flex;
    justify-content: center;
    padding: 6rem 3rem;
 }
 .info-card {
    background-color: var( --cl-lightest);
    border-radius: var(--cl-borderradius);
    width: 100%;
    max-width: var(--cl-maxwidth);
    box-shadow: var(--cl-boxshadow);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: var(--cl-cardpadding);
 }
 .info-card > * {
    text-align: center;
 }
.info-card-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 1000px;
}
/* Menu */
.menu-container {
     margin: var(--cl-infocarddata-margin);
     max-width: 900px;
     padding: 6rem;
}
.menu-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-item {
    width: 100%;
    margin: .9rem 0;
}
.menu-item > p {
    text-align: start;
}
.menu-item-heading {
    font-weight: var(--cl-menuitem-fontweight);
    font-size: 1.6rem;
    margin-bottom: .7rem;
}
.menu-item-cost {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--cl-mid)
}
.new-client-form-container {
    background-color: var(--cl-primary);
    padding: 6rem;
    display: flex;
    justify-content: center;
    margin-top: -4rem;
}

/* Home */
.hello-lash-tech {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hello-lash-tech-items {
    max-width: var(--cl-maxwidth);
    display: flex;
    flex-direction: column;;
}
.hello-lash-tech h3 {
    text-align: center;
    margin-bottom: 6rem;
}
.welcome-text {
    margin-top: 6rem;
    font-family: var(--cl-welcomefont);
    font-size: 3.6rem;
    text-align: center;
}
.hello-lash-tech-items > img {
    max-width: 40%;
    transform: scaleX(-1);
    margin: 3rem auto 3rem auto;
}
.lash-gallery {
    padding: 6rem;
    background-color: var(--cl-primary);
    display: flex;
    justify-content: center;
}
.section-heading {
    text-align: center;
    font-size: var(--cl-h2-section-heading);
    margin-bottom: 3rem;
}
.service-container {
    border-radius: var(--cl-borderradius);
    box-shadow: var(--cl-boxshadow);
    padding: 6rem;
    margin: 3rem;
    background-color: var(--cl-lightest);
    max-width: var(--cl-maxwidth);
}
.lift, .extensions {
    max-width: 800px;

}

.lash-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 6rem;;
}
.lash-grid > img {
    width: 100%;
    margin: 0 auto 0 auto;
}
.lash-lift-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    margin-bottom: 3rem; 
}
.lift > img {
    max-width: 100%;
}
.lift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.lash-gallery h1 {
    text-align: center;
}
.lash-gallery .lift h2, .lash-gallery .extensions h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.testimonial-section {
    display:flex;
    justify-content: center;
}
.testimonials-container {
    max-width: 50%;
    margin: 6rem;
}
.testimonial-container > * {
    text-align: center;
}
.testimonial-container {
    margin-bottom: 4rem;
}
.testimonial-container > p {
    color: var(--cl-text);
    margin-top: 1rem;
}
.testimonial-section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

/* About */
.blog-section {
    display: flex;
    justify-content: center;
}
.blog-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin: 3rem;
    max-width: var(--cl-maxwidth);
}
.blog-card-container > img {
    max-width: 100%;
}
.blog-card-container {
    border-radius: var(--cl-borderradius);
    box-shadow: var(--cl-boxshadow); 
    min-height: 100%;
}
.blog-card-container > img {
    border-radius: 20px 20px 0 0; 
}
/* .read-more-p {
    margin-top: auto;
} */
.blog-card-text-container {
    padding: 1rem;
}
.blog-card-text-container > p {
    color: var(--cl-darkest);
}
.blog-card-text-container > h3 {
    color: var(--cl-mid);
    margin-bottom: 1rem;
}
.service-explainer-container {
    margin-top: 12rem; 
    margin-bottom: rem;
} 
.service-explainer {
    display: grid;
    grid-template-columns: 33.33% 66.66%; 
    margin-bottom: 6rem;
    gap: 3rem;
    
}   
.lift-image {
    width: 100%;
}
.service-explainer-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blog-page {
    background-color: var(--cl-primary);
    display: flex;
    justify-content: center;;
}
.blog-container {
    background-color: var(--cl-lightest);
    display: flex;
    flex-direction: column;
    border-radius: var(--cl-borderradius);
    max-width: 60%;
    margin-top: 6rem;
    margin-bottom: 6rem;
    box-shadow: var(--cl-boxshadow);
}
.blog-container > img {
    width: 100%;
    border-radius: 20px 20px 0 0;;
}
.blog-container > h2 {
    text-align: center;
}
.blog-container li {
    font-weight: 300;
}
.blog-content {
    padding: 6rem;
}
.back-link-about {
    margin: 3rem;
    margin-left: auto;
    font-size: 1.3rem;
}
.back-link-about > a {
    color: var(--cl-mid);
}



/* Accordian */

.accordian-container{
  background-color: var(--cl-primary);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accordian-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .6rem;
}
.accordian-item {
  border: .5px solid grey;
  margin: .3rem;
  padding: 1rem;
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
}
.accordian-title-container span {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--cl-text);
  font-family:'Courier New', Courier, monospace 
}
  /* Contact */

  .contact-section {
    padding: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  .contact-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: var(--cl-maxwidth);
  }
  .call-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
.call-text > div {
    padding: 2rem 0;
}


  .form-container {
    width: 100%;
    padding: 2rem;
    margin-left: 3rem;
  }
 
  .contact-form-inputs {
    display: flex;
    flex-direction: column;
  }
  /* .contact-left {
    width: 66.66%;
  } */
  #googlemap {
   min-width: 500px;
   height: 400px;
  }

/* @media screen and (max-width: 642px ) {
    h2 {
    }
    
} */