*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --cl-lightest: #ffffff;
    --cl-darkest: #0A0909;
    --cl-cream: #FDFAF4;
    --cl-light: #D3F4EF;
    --cl-primary: #81D8D0;
    --cl-mid: #00707C;
    --cl-text: #013E44;
    --cl-accent: #004148;

    --cl-main-padding: 0 4rem 0 4rem;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

a {
    text-decoration: none;
}
.routerPage {
    padding: var(--cl-main-padding);
}

/* * {
    border: 1px solid red;
} */
.navbar {
    background-color: var(--cl-lightest);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--cl-main-padding);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbaritems {
    display: flex;
    align-items: center;
}
.navbaritems>*, .footeritems>* {
    margin-left: .5rem;
    color: var(--cl-accent);
}
.footer {
     background-color: var(--cl-lightest);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--cl-main-padding);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

